---
layout: layouts/home.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<div class="_404-logo-wrapper">
  <a href="/home-1" class="w-nav-brand"
    ><img
      src="images/cpe-transparent.png"
      loading="lazy"
      alt=""
      class="image-9"
      height="30"
  /></a>
</div>
<div class="utility-page-wrap">
  <img
    src="images/404page.png"
    loading="lazy"
    sizes="(max-width: 479px) 94vw, (max-width: 833px) 96vw, 800px"
    srcset="images/404page-p-500.png 500w, images/404page.png 800w"
    alt=""
  />
  <div class="_404-content-wrapper">
    <h2 class="text-center">
      Something’s <span class="orange-box-h2">not right.</span>
    </h2>
    <p class="_404-paragraph">We can’t find the page your are looking for.</p>
    <a href="index.html" class="primary-button w-button">Back to Homepage</a>
  </div>
</div>
