---
layout: layouts/home.njk

metadata:
  title: "Contact Us"
  description: "Choose accuracy. Choose CPESTIMATING for your construction estimates. Start your project on the right track."
  language: "en"
---

<section class="section contacts-banner">
  <div class="base-container w-container">
    <div class="banner-title-wrapper">
      <h1 class="banner-title">Contact us</h1>
    </div>
  </div>
</section>
<section class="section">
  <div class="base-container w-container">
    <div class="contacts-title-mobile">
      <h6 class="section-subtitle">get in touch</h6>
      <h2>
        Contact our support team
        <span class="orange-box-h2">to grow your business</span>
      </h2>
    </div>
    <div class="contacts-wrapper">
      <div class="contacts-content-wrapper">
        <div class="contacts-title-desktop">
          <h6 class="section-subtitle">get in touch</h6>
          <h2>
            Contact our team
            <span class="orange-box-h2">to Jumpstart Your Next Project</span>
          </h2>
        </div>
        <p class="paragraph-large">
          For over 50 years, CPESTIMATING has been a leading name in the
          construction industry. With three convenient offices located in
          Georgia, Florida, and South Carolina, we are proud to serve clients
          across the region with our accurate and reliable construction
          estimation services.
        </p>
        <div class="contacts-divider"></div>
        <div
          data-delay="4000"
          data-animation="slide"
          class="contacts-location-slider w-slider"
          data-autoplay="false"
          data-easing="ease"
          data-hide-arrows="false"
          data-disable-swipe="false"
          data-autoplay-limit="0"
          data-nav-spacing="3"
          data-duration="500"
          data-infinite="true"
          role="region"
          aria-label="carousel"
        >
          <div class="w-slider-mask" id="w-slider-mask-0">
            <div
              class="w-slide"
              aria-label="1 of 3"
              role="group"
              style="transform: translateX(0px); opacity: 1"
            >
              <div class="contacts-location-wrapper">
                <h6>London</h6>
                <div class="contacts-location-wrap">
                  <p class="contacts-icon"></p>
                  <p class="paragraph">3rd Avenue, 83 Manhattan, London, UK</p>
                </div>
                <div class="contacts-location-wrap">
                  <p class="contacts-icon"></p>
                  <a href="tel:+12124258617" class="paragraph"
                    >+1 212 425 8617</a
                  >
                </div>
                <div class="contacts-location-wrap">
                  <p class="contacts-icon"></p>
                  <a href="mailto:information@office.com" class="paragraph"
                    >peconstructiony@support.com</a
                  >
                </div>
              </div>
            </div>
            <div
              class="w-slide"
              aria-label="2 of 3"
              role="group"
              aria-hidden="true"
              style="transform: translateX(0px); opacity: 1"
            >
              <div class="contacts-location-wrapper" aria-hidden="true">
                <h6 aria-hidden="true">Paris</h6>
                <div class="contacts-location-wrap" aria-hidden="true">
                  <p class="contacts-icon" aria-hidden="true"></p>
                  <p class="paragraph" aria-hidden="true">
                    3rd Avenue, 83 Manhattan, Paris, France
                  </p>
                </div>
                <div class="contacts-location-wrap" aria-hidden="true">
                  <p class="contacts-icon" aria-hidden="true"></p>
                  <a
                    href="tel:+12124258617"
                    class="paragraph"
                    tabindex="-1"
                    aria-hidden="true"
                    >+1 212 425 8617</a
                  >
                </div>
                <div class="contacts-location-wrap" aria-hidden="true">
                  <p class="contacts-icon" aria-hidden="true"></p>
                  <a
                    href="mailto:information@office.com"
                    class="paragraph"
                    tabindex="-1"
                    aria-hidden="true"
                    >peconstructiony@support.com</a
                  >
                </div>
              </div>
            </div>
            <div
              class="w-slide"
              aria-label="3 of 3"
              role="group"
              aria-hidden="true"
              style="transform: translateX(0px); opacity: 1"
            >
              <div class="contacts-location-wrapper" aria-hidden="true">
                <h6 aria-hidden="true">New York</h6>
                <div class="contacts-location-wrap" aria-hidden="true">
                  <p class="contacts-icon" aria-hidden="true"></p>
                  <p class="paragraph" aria-hidden="true">
                    3rd Avenue, 83 Manhattan, New York, USA
                  </p>
                </div>
                <div class="contacts-location-wrap" aria-hidden="true">
                  <p class="contacts-icon" aria-hidden="true"></p>
                  <a
                    href="tel:+12124258617"
                    class="paragraph"
                    tabindex="-1"
                    aria-hidden="true"
                    >+1 212 425 8617</a
                  >
                </div>
                <div class="contacts-location-wrap" aria-hidden="true">
                  <p class="contacts-icon" aria-hidden="true"></p>
                  <a
                    href="mailto:information@office.com"
                    class="paragraph"
                    tabindex="-1"
                    aria-hidden="true"
                    >peconstructiony@support.com</a
                  >
                </div>
              </div>
            </div>
            <div
              aria-live="off"
              aria-atomic="true"
              class="w-slider-aria-label"
              data-wf-ignore=""
            ></div>
          </div>
          <div
            class="contacts-slider-left-arrow w-slider-arrow-left"
            role="button"
            tabindex="0"
            aria-controls="w-slider-mask-0"
            aria-label="previous slide"
          >
            <div class="contacts-slider-arrow-icon"></div>
          </div>
          <div
            class="contacts-slider-right-arrow w-slider-arrow-right"
            role="button"
            tabindex="0"
            aria-controls="w-slider-mask-0"
            aria-label="next slide"
          >
            <div class="contacts-slider-arrow-icon"></div>
          </div>
          <div class="hidden w-slider-nav w-round">
            <div
              class="w-slider-dot w-active"
              data-wf-ignore=""
              aria-label="Show slide 1 of 3"
              aria-pressed="true"
              role="button"
              tabindex="0"
              style="margin-left: 3px; margin-right: 3px"
            ></div>
            <div
              class="w-slider-dot"
              data-wf-ignore=""
              aria-label="Show slide 2 of 3"
              aria-pressed="false"
              role="button"
              tabindex="-1"
              style="margin-left: 3px; margin-right: 3px"
            ></div>
            <div
              class="w-slider-dot"
              data-wf-ignore=""
              aria-label="Show slide 3 of 3"
              aria-pressed="false"
              role="button"
              tabindex="-1"
              style="margin-left: 3px; margin-right: 3px"
            ></div>
          </div>
          <div class="contacts-arrows-divider"></div>
        </div>
      </div>
      <aside class="contacts-form-wrapper">
        <h3 class="contacts-form-title">Send us a message</h3>
        <div class="w-form">
          <form
            id="email-form"
            name="email-form"
            data-name="Email Form"
            method="get"
            data-wf-page-id="65240b779317d6798c6235fd"
            data-wf-element-id="ea41af14-8b87-8ae8-ae5d-f8373dc8aafa"
            aria-label="Email Form"
          >
            <input
              type="text"
              class="contacts-input w-input"
              maxlength="256"
              name="name"
              data-name="Name"
              placeholder="Your name"
              id="name"
            /><input
              type="email"
              class="contacts-input w-input"
              maxlength="256"
              name="email"
              data-name="Email"
              placeholder="Your email"
              id="email"
              required=""
            /><textarea
              placeholder="Your text"
              maxlength="5000"
              id="field"
              name="field"
              data-name="field"
              class="contacts-textarea contact-us-form w-input"
            ></textarea
            ><input
              type="submit"
              value="Submit"
              data-wait="Please wait..."
              class="primary-button full-width w-button"
            />
          </form>
          <div
            class="w-form-done"
            tabindex="-1"
            role="region"
            aria-label="Email Form success"
          >
            <div>Thank you! Your submission has been received!</div>
          </div>
          <div
            class="w-form-fail"
            tabindex="-1"
            role="region"
            aria-label="Email Form failure"
          >
            <div>Oops! Something went wrong while submitting the form.</div>
          </div>
        </div>
      </aside>
    </div>
  </div>
</section>
<section class="section">
  <div class="base-container w-container">
    <div class="free-trial-wrapper">
      <h2 class="free-trial-title">
        Trusted By More Than <br />‍<span class="orange-box-h2"
          >1,000 Managers.</span
        >
      </h2>
      <a
        href="contact-us.html"
        aria-current="page"
        class="primary-button w-button w--current"
        >Contact Us</a
      >
    </div>
  </div>
</section>
