<footer class="footer">
    <div class="center-footer">
      <div class="footer-wrap">
        <div class="footer-brand-wrapper">
          <a href="#" class="footer-brand w-nav-brand"><img src="/images/cpestimating-font-logo.png" loading="lazy"
              sizes="(max-width: 479px) 49vw, 117.45000457763672px"
              srcset="/images/cpestimating-font-logo-p-500.png 500w, /images/cpestimating-font-logo.png 783w" alt=""
              class="image"></a>
          <p class="footer-brand-description">Choose accuracy. Choose CPESTIMATING for your construction estimates.
            Start your project on the right track.</p>
          <div class="footer-social-icons-wrapper">
            <a href="https://www.facebook.com/" target="_blank" class="footer-social-icon"></a>
            <a href="https://www.instagram.com/" target="_blank" class="footer-social-icon"></a>
            <a href="https://twitter.com/" target="_blank" class="footer-social-icon"></a>
            <a href="https://dribbble.com/" target="_blank" class="footer-social-icon"></a>
            <a href="https://www.pinterest.com/" target="_blank" class="footer-social-icon last-child"></a>
          </div>
        </div>
        <div class="footer-links-wrapper extra">
          <h4 class="footer-white-text">EXTRA LINKS<br></h4>
          <a href="our-services.html" class="footer-link">All Services</a>
          <a href="faq.html" class="footer-link">FAQ</a>
        </div>
        <div class="footer-links-wrapper">
          <h4 class="footer-white-text">USEFUL LINKS<br></h4>
          <a href="about-us.html" class="footer-link">About Us</a>
          <a href="our-process.html" class="footer-link">Our Process</a>
          <a href="our-clients.html" class="footer-link">Our Clients</a>
          <a href="testimonials.html" class="footer-link">Testimonials</a>
        </div>
        <div class="footer-links-wrapper contacts">
          <h4 class="footer-white-text">CONTACTS</h4>
          <div class="all-contacts-wrapp">
            <p class="footer-contacts-text"><span class="text-span-icon"></span> 2307 Beverley Rd, New York</p>
            <p class="footer-contacts-text"><span class="text-span-icon"></span>
              <a href="tel:+(0712)81979555" class="footer-link-contacts">+ (0712) 819 79 555</a>
            </p>
            <p class="footer-contacts-text"><span class="text-span-icon"></span>
              <a href="tel:+(0712)81979555" class="footer-link-contacts">peconstructiony@support.com</a>
            </p>
          </div>
        </div>
      </div>
      <div class="center-foofer-wrap">
        <div class="footer-copyright-2">© CPEstaming. All Rights Reserved 2023.</div>
      </div>
    </div>
  </footer>