<div
  data-animation="over-left"
  class="navbar-home-2-new w-nav"
  data-easing2="ease"
  data-easing="ease"
  data-collapse="medium"
  role="banner"
  data-no-scroll="1"
  data-duration="400"
  data-doc-height="1"
>
  <header>
    <div class="top-nav-container w-container">
      <div class="call-us-wrap">
        <a href="tel:3364256278" class="w-inline-block">
          <p class="call-us-text green-text">
            Call Us:
            <span class="link-number-home-2">(336) 425-6278<br /></span>
          </p>
        </a>
      </div>
      <div class="socials-wrapper"></div>
    </div>
    <div class="nav-container w-container">
      <a href="/" aria-current="page" class="brand w-nav-brand w--current"
        ><img
          src="/images/cpestimating-font-logo.png"
          loading="lazy"
          sizes="(max-width: 479px) 100vw, (max-width: 767px) 23vw, (max-width: 1919px) 117.45000457763672px, 313.20001220703125px"
          srcset="
            /images/cpestimating-font-logo-p-500.png 500w,
            /images/cpestimating-font-logo.png       783w
          "
          alt=""
          class="logo-con-128"
      /></a>
      <div class="nav-menu-wrapper">
        <nav role="navigation" class="nav-menu w-nav-menu">
          <div class="nav-menu-shadow-overlay">
            <div class="top-mobile-menu w-container">
              <div class="call-us-mobile-wrap">
                <p class="call-us-text-mobile">
                  Call Us: <span class="link-number">+ 0712 819 79 555</span>
                </p>
              </div>
              <div class="socials-wrapper-mobile">
                <div class="social-wrap mobile">
                  <a
                    href="https://www.facebook.com/"
                    target="_blank"
                    class="link-socials"
                    ></a
                  >
                  <a
                    href="https://www.instagram.com/"
                    target="_blank"
                    class="link-socials"
                    ></a
                  >
                  <a
                    href="https://twitter.com/"
                    target="_blank"
                    class="link-socials"
                    ></a
                  >
                  <a
                    href="https://www.linkedin.com/"
                    target="_blank"
                    class="link-socials"
                    ></a
                  >
                </div>
              </div>
            </div>
            <div class="tablet-menu">
              <a href="#" class="logo-mobile w-nav-brand"
                ><img
                  src="/images/cpestimating-font-logo.png"
                  loading="lazy"
                  sizes="100vw"
                  srcset="
                    /images/cpestimating-font-logo-p-500.png 500w,
                    /images/cpestimating-font-logo.png       783w
                  "
                  alt=""
                  class="image-3"
              /></a>
              <div class="close-menu-button w-nav-button">
                <img
                  src="/images/Green-Close.svg"
                  loading="lazy"
                  alt=""
                  class="nav-close-icon"
                /><img
                  src="/images/x_icon_1x_icon.png"
                  loading="lazy"
                  alt=""
                  class="nav-close-icon-copy"
                />
              </div>
            </div>
            <a
              href="index.html"
              aria-current="page"
              class="nav-link w-nav-link w--current"
              >HOME<br
            /></a>
            {#
            <div
              data-hover="true"
              data-delay="0"
              data-w-id="79bdf7b1-4449-1949-62dc-82244c052a1d"
              class="nav-dropdown w-dropdown w--nav-dropdown-open"
              style="max-width: 728px"
            >
              <div
                class="nav-dropdown-toggle w-dropdown-toggle w--nav-dropdown-toggle-open"
                id="w-dropdown-toggle-0"
                aria-controls="w-dropdown-list-0"
                aria-haspopup="menu"
                aria-expanded="false"
                role="button"
                tabindex="0"
              >
                <div
                  class="nav-dropdown-icon w-icon-dropdown-toggle"
                  aria-hidden="true"
                  style="
                    transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1)
                      rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
                    transform-style: preserve-3d;
                  "
                ></div>
                <p class="nav-item-title" style="">Services</p>
              </div>
              <nav
                class="nav-dropdown-list w-dropdown-list w--nav-dropdown-list-open"
                id="w-dropdown-list-0"
                aria-labelledby="w-dropdown-toggle-0"
                style="width: 305px; height: 0px"
              >
                <a
                  href="/our-services"
                  class="nav-dropdown-link w-dropdown-link"
                  tabindex="0"
                  >Our Services</a
                >
                <div class="collection-list-wrapper-4 w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/construction-scheduling"
                          class="nav-dropdown-link w-dropdown-link"
                          tabindex="0"
                          style=""
                          >Construction Scheduling</a
                        ><link
                          rel="prefetch"
                          href="/services/construction-scheduling"
                        />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/construction-cost-estimating"
                          aria-current="page"
                          class="nav-dropdown-link w-dropdown-link w--current"
                          tabindex="0"
                          style=""
                          >Construction Cost Estimating</a
                        ><link
                          rel="prefetch"
                          href="/services/construction-cost-estimating"
                        />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/cost-budgeting"
                          class="nav-dropdown-link w-dropdown-link"
                          tabindex="0"
                          style=""
                          >Cost Budgeting</a
                        ><link rel="prefetch" href="/services/cost-budgeting" />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/cost-management"
                          class="nav-dropdown-link w-dropdown-link"
                          tabindex="0"
                          style=""
                          >Cost Management</a
                        ><link
                          rel="prefetch"
                          href="/services/cost-management"
                        />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            #}
            <div
              data-hover="true"
              data-delay="0"
              data-w-id="79bdf7b1-4449-1949-62dc-82244c052a33"
              class="nav-dropdown portfolio w-dropdown"
            >
              <div class="nav-dropdown-toggle w-dropdown-toggle">
                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                <p class="nav-item-title">Services</p>
              </div>
              <nav class="nav-dropdown-list w-dropdown-list">
                <div class="collection-list-wrapper-4 w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/construction-scheduling"
                          class="nav-dropdown-link w-dropdown-link"
                          tabindex="0"
                          style=""
                          >Our Services</a
                        ><link
                          rel="prefetch"
                          href="/services/construction-scheduling"
                        />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/construction-scheduling"
                          class="nav-dropdown-link w-dropdown-link"
                          tabindex="0"
                          style=""
                          >Construction Scheduling</a
                        ><link
                          rel="prefetch"
                          href="/services/construction-scheduling"
                        />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/construction-cost-estimating"
                          aria-current="page"
                          class="nav-dropdown-link w-dropdown-link w--current"
                          tabindex="0"
                          style=""
                          >Construction Cost Estimating</a
                        ><link
                          rel="prefetch"
                          href="/services/construction-cost-estimating"
                        />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/cost-budgeting"
                          class="nav-dropdown-link w-dropdown-link"
                          tabindex="0"
                          style=""
                          >Cost Budgeting</a
                        ><link rel="prefetch" href="/services/cost-budgeting" />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div
                        data-w-id="79bdf7b1-4449-1949-62dc-82244c052a23"
                        class="nav-dropdown-link-wrapper"
                      >
                        <a
                          href="/services/cost-management"
                          class="nav-dropdown-link w-dropdown-link"
                          tabindex="0"
                          style=""
                          >Cost Management</a
                        ><link
                          rel="prefetch"
                          href="/services/cost-management"
                        />
                        <div class="nav-dropdown-line" style=""></div>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div
              data-hover="true"
              data-delay="0"
              data-w-id="79bdf7b1-4449-1949-62dc-82244c052a33"
              class="nav-dropdown portfolio w-dropdown"
            >
              <div class="nav-dropdown-toggle w-dropdown-toggle">
                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
                <p class="nav-item-title">Projects</p>
              </div>
              <nav class="nav-dropdown-list w-dropdown-list">
                <div
                  data-w-id="c62deaa8-41a4-210a-9760-99f96a470287"
                  class="nav-dropdown-link-wrapper"
                >
                  <a href="/projects" class="nav-dropdown-link w-dropdown-link"
                    >View All</a
                  >
                  <div class="nav-dropdown-line"></div>
                </div>
                <div class="collection-list-wrapper-4 w-dyn-list">
                  <div role="list" class="w-dyn-items">
                    <div role="listitem" class="w-dyn-item">
                      <div class="nav-dropdown-link-wrapper">
                        <div
                          class="nav-dropdown-line"
                          style="
                            transform: translate3d(0px, 0px, 0px)
                              scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
                              rotateZ(0deg) skew(0deg);
                            transform-style: preserve-3d;
                            background-color: rgb(153, 153, 153);
                          "
                        ></div>
                        <a
                          href="/projects/new-case"
                          class="nav-dropdown-link w-dropdown-link"
                          style="color: rgb(153, 153, 153)"
                          tabindex="0"
                          >New Case</a
                        ><link rel="prefetch" href="/projects/new-case" />
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div class="nav-dropdown-link-wrapper">
                        <div
                          class="nav-dropdown-line"
                          style="
                            transform: translate3d(0px, 0px, 0px)
                              scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
                              rotateZ(0deg) skew(0deg);
                            transform-style: preserve-3d;
                            background-color: rgb(153, 153, 153);
                          "
                        ></div>
                        <a
                          href="/projects/glass-city"
                          class="nav-dropdown-link w-dropdown-link"
                          style="color: rgb(153, 153, 153)"
                          tabindex="0"
                          >Glass City</a
                        ><link rel="prefetch" href="/projects/glass-city" />
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div class="nav-dropdown-link-wrapper">
                        <div
                          class="nav-dropdown-line"
                          style="
                            transform: translate3d(0px, 0px, 0px)
                              scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
                              rotateZ(0deg) skew(0deg);
                            transform-style: preserve-3d;
                            background-color: rgb(153, 153, 153);
                          "
                        ></div>
                        <a
                          href="/projects/moovit-tower"
                          class="nav-dropdown-link w-dropdown-link"
                          style="color: rgb(153, 153, 153)"
                          tabindex="0"
                          >Moovit Tower</a
                        ><link rel="prefetch" href="/projects/moovit-tower" />
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div class="nav-dropdown-link-wrapper">
                        <div
                          class="nav-dropdown-line"
                          style="
                            transform: translate3d(0px, 0px, 0px)
                              scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
                              rotateZ(0deg) skew(0deg);
                            transform-style: preserve-3d;
                            background-color: rgb(153, 153, 153);
                          "
                        ></div>
                        <a
                          href="/projects/riga-bridge"
                          class="nav-dropdown-link w-dropdown-link"
                          style="color: rgb(153, 153, 153)"
                          tabindex="0"
                          >Riga Bridge</a
                        ><link rel="prefetch" href="/projects/riga-bridge" />
                      </div>
                    </div>
                    <div role="listitem" class="w-dyn-item">
                      <div class="nav-dropdown-link-wrapper">
                        <div
                          class="nav-dropdown-line"
                          style="
                            transform: translate3d(0px, 0px, 0px)
                              scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg)
                              rotateZ(0deg) skew(0deg);
                            transform-style: preserve-3d;
                            background-color: rgb(153, 153, 153);
                          "
                        ></div>
                        <a
                          href="/projects/sky-center"
                          class="nav-dropdown-link w-dropdown-link"
                          style="color: rgb(153, 153, 153)"
                          tabindex="0"
                          >Sky Center</a
                        ><link rel="prefetch" href="/projects/sky-center" />
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <div
              data-hover="true"
              data-delay="0"
              data-w-id="79bdf7b1-4449-1949-62dc-82244c052a41"
              class="nav-dropdown w-dropdown"
            >
              <div class="nav-dropdown-toggle w-dropdown-toggle">
                <p class="nav-item-title">Blog</p>
                <div class="nav-dropdown-icon w-icon-dropdown-toggle"></div>
              </div>
              <nav class="nav-dropdown-list w-dropdown-list">
                <div
                  data-w-id="79bdf7b1-4449-1949-62dc-82244c052a47"
                  class="nav-dropdown-link-wrapper"
                >
                  <a href="blog.html" class="nav-dropdown-link w-dropdown-link"
                    >Blog</a
                  >
                  <link rel="prefetch" href="/blog" />
                  <div class="nav-dropdown-line"></div>
                </div>
              </nav>
            </div>
            <a href="contact-us.html" class="nav-link w-nav-link"
              >Contact Us<br
            /></a>
            <link rel="prefetch" href="/contact-us" />
          </div>
        </nav>
        <div class="search-shop-con">
          <div
            data-w-id="79bdf7b1-4449-1949-62dc-82244c052a72"
            class="navbar-search-icon"
          >
            
          </div>
        </div>
        <form action="/search" class="search-desktop w-form">
          <div class="search-wrapper">
            <input
              type="search"
              class="search-wrap-input-2 w-input"
              autofocus="true"
              maxlength="256"
              name="query"
              placeholder="Enter search keyword"
              id="search-2"
              required=""
            />
            <div class="search-bottom-line-2"></div>
            <input
              type="submit"
              value="Search"
              class="primary-button search w-button"
            />
          </div>
          <div
            data-w-id="79bdf7b1-4449-1949-62dc-82244c052a7b"
            class="search-close-button"
          >
            
          </div>
        </form>
      </div>
      <div class="menu-button w-nav-button">
        <img
          src="/images/Green-Menu.svg"
          loading="lazy"
          alt=""
          height="16"
          class="image-menu"
        />
      </div>
    </div>
    <div class="white-overlay-for-home-2"></div>
  </header>
</div>
