{%- css %}.postlist { counter-reset: start-from {{ (postslistCounter or
postslist.length) + 1 }} }{% endcss %} {% for post in postslist | reverse %}
<div role="listitem" class="blog-sidebar-item w-dyn-item">
  <article>
    <a href="{{ post.url }}" class="blog-sidebar-post-image-link w-inline-block"
      ><img
        src="{{ post.data.image }}"
        loading="lazy"
        alt=""
        class="blog-sidebar-post-image"
    /></a>
    <div class="blog-sidebar-post-content">
      <a href="{{ post.url }}" class="blog-sidebar-post-title"
        >{{post.data.title }}</a
      >
      <p>{{ post.data.description }}</p>
    </div>
  </article>
</div>
{% endfor %}
