---
layout: layouts/base.njk
---

<section class="section contacts-banner">
  <div class="base-container w-container">
    <div class="banner-title-wrapper">
      <h1 class="banner-title">{{title}}</h1>
    </div>
  </div>
</section>
<div class="section">
  <div class="base-container w-container">
    <div class="project-template-content-wrapper">
      <div class="project-template-content">
        <img src="{{image}}" />
      </div>
      <div class="project-template-info">
        <div class="project-template-info-wrap">
          <p class="paragraph-large">Date</p>
          <p class="paragraph-gray">{{date}}</p>
        </div>
        <div class="project-template-info-wrap last-child">
          <p class="paragraph-large">Share on</p>
          <div class="project-template-social-icons">
            <a
              href="https://www.facebook.com/"
              target="_blank"
              class="project-template-social-link"
              ></a
            >
            <a
              href="https://www.instagram.com/"
              target="_blank"
              class="project-template-social-link"
              ></a
            >
            <a
              href="https://twitter.com/"
              target="_blank"
              class="project-template-social-link last-child"
              ></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
